@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.material-icons {
    font-size: 48px;
    cursor: pointer;
}

h2 {
    margin: 3rem 0 1.5rem;
}

.separator {
    display: block;
    width: 100%;
    height: 2px;
    margin: 5rem auto;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(72,72,72,1) 20%, rgba(72,72,72,1) 80%, rgba(255,255,255,0) 100%);
}

.App {
    padding: 5rem 3rem;
}

.task-1 {
    --color-light: #ffffff;
    --color-dark: #484848;
    color: var(--color-dark);
}
.task-1 .toolbar {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.task-1 .filter-button {
    padding: 0.8rem 1.5rem;
    border: 1px var(--color-dark) solid;
    background-color: transparent;
    cursor: pointer;
}

.task-1 .selected-filter-button {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.task-1 .project-list {
    --column-count: 3;
    --gap-size: 1rem;
    width: 100%;
    padding: 1rem 0;
    -moz-column-count: var(--column-count);
    -webkit-column-count: var(--column-count);
    column-count: var(--column-count);
    gap: var(--gap-size);
}

.task-1 .project-item {
    margin-bottom: var(--gap-size);
}

.task-1 .project-item img {
    width: 100%;
}


/* --------task 2-------------------------------- */
.task-2 {
    --color-light: #ffffff;
    --color-dark: #484848;
    --color-accent: #d53e2d;
    --color-bg: #f5f5f5;
    color: var(--color-dark);
}

.task-2 .icon-switch {
    text-align: end;
    display: block;
}

.task-2 .btn-add-to-cart {
    padding: 0.5em 1em;
    border: 1px var(--color-accent) solid;
    border-radius: 1em / 50%;
    background-color: transparent;
    font-size: 1em;
    line-height: 1;

    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-accent);
    white-space: nowrap;
    cursor: pointer;
}

.task-2 .btn-add-to-cart:hover {
    background-color: var(--color-accent);
    color: var(--color-light);
}

.task-2 .product-price  {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--color-accent);
}

.task-2 .product-name {
    text-transform: uppercase;
}

.task-2 .product-color {
    font-weight: lighter;
    text-transform: lowercase;
}

.task-2 .list-view {
    padding: 2rem 0;
    margin-bottom: 2rem;
}

.task-2 .list-view .shop-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-bg);
    margin-bottom: 0.5rem;
    overflow: hidden;
}

.task-2 .list-view .shop-item:last-child {
    margin-bottom: 0;
}

.task-2 .list-view .shop-item .product-image {
    width: 5rem;
}

.task-2 .product-image img{
    width: 100%;
}

.task-2 .cards-view {
    --gap-size: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    gap: var(--gap-size);
}

.task-2 .cards-view .shop-card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    background-color: var(--color-bg);
    padding: 2rem;
    border-radius: 2%;
    -webkit-box-shadow: 0px 10px 13px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 13px 2px rgba(0, 0, 0, 0.3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.task-2 .cards-view .shop-card .product-image {
    width: 100%;
}

.task-2 .cards-view .shop-card img {
    z-index: -1;
    margin: -5.5rem 0 -1.5rem;
}

.task-2 .cards-view .shop-card .product-name,
.task-2 .cards-view .shop-card .product-color {
    text-align: center;
    margin-bottom: 1rem;
    z-index: 1;
}

.task-2 .cards-view .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    margin-top: auto;
}
